extends ../layout

block include-header
  link(rel="stylesheet", type="text/css", charset="UTF-8", href="/stylesheets/edit.css")
  script(type="text/javascript", charset="UTF-8", src="/javascripts/edit.js")

block content
  .container
    if survey.id
      h1.page-header 설문수정
    else
      h1.page-header 설문작성
      .survey-wrap
        h3
          |Title:
          input#surveyTitle(type="text")
        ul#surveyList
          li.survey-item.tpl
            p
              span.index 0
              |Question :
            input.question(type="text")
            button.icon.trash-can.delete
            p.error
          li.add +
        div.form-actions
          a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
          | 
          button.btn.btn-primary#saveButton 완료
